# ignore all csv file 
reports/*.csv
# include the following files 
!reports/baseline_model_results.csv
!reports/baseline_model_report.md

# ignore all png files 
reports/*.png
# to Include best performing model's after finding it 


